/*===========================GLOBAL===============================*/

html{
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

@font-face {
    font-family: 'upperCase';
    src: url('assets/types/enchanted_land_upperCase/EnchantedLand.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'lowerCase';
    src: url('../assets/types/webfontkit-20230421-151624/pe______-webfont.woff') format('woff');
    /* src: url('assets/types/perigord_lowerCase/pe______.woff') format('woff'); */
    font-style: normal;
    font-weight: normal;
}



/*================================================================*/

/*===========================PORTADA=============================*/
.container-portada{
    position: relative;
    text-align: center;
}

.interfaz-init{
    position: absolute;
    z-index: 100;
    top: 10%;
    left: 20%;
} 

.interfaz-init a{
    text-decoration: none;
}

.interfaz-init h2{
    color: rgb(77, 25, 146);
    color: rgb(146, 128, 25);
    font-family: 'lowerCase';
    font-size: 5vw;
}

.interfaz-init h3{
    margin-right: 100%;
    margin: 0 100% 0 0;
    color: rgb(146, 128, 25);
    font-family: 'lowerCase';
    font-size: 5vw;
    margin-bottom: 0px;
    padding-left: -100%;
}

.imagen-portada img{
    opacity: 40%;
    width: 70%;
}
/*================================================================*/

/*===========================INSTRUCCIONES & CREDITOS=============================*/
.txt-instrucciones-creditos{
    font-family: 'lowerCase';
    border: 3px solid white;
    color: rgb(146, 128, 25);
    text-align: center;
}
/*================================================================*/

/*===========================PAGINAS IMG=============================*/
.container-paginas{
    margin-top: 2vw;
    position: relative;
}

.texto-overflow{
    margin-top: 100vw 0;
}

.texto-overflow p{
    margin: 0 auto;
    padding: 10px;
    overflow-y: scroll;
    width: 50vw;
    height: 8vw;
    border: 2px solid black;
    color: white;
}

.links-img{
    position: absolute;
}

.container-img-escena{
    margin: 2vw auto 0; 
    width: 80vw;
}

.container-img-escena img{
    width: 100%; 
    height: auto;
}

.go-link{
    position: absolute;
    background-color: greenyellow;
    font-size: 3vw;
    opacity: 100;
    width: 7vw;
    height: 6vw;
    opacity: 0%;
}

.btn-audio{
    position: absolute; 
    /* margin-right: 20vw; */
    top: 2vw; 
    left: 17vw; 
    width: 4vw;
}

.informacion-icono img{
    position: absolute; 
    top: 0.3vw;
    left: 75vw;
    width: 2vw;
}

/*================================================================*/

/*===========================ESCENA 0=============================*/
.d0-e1{
    top: 9vw;
    left: 15vw;
}

.d0-e2{
    top: 4vw;
    left: 37vw;
}

.d0-e5{
    top: 7vw;
    left: 60vw;
}

.d0-e6{
    top: 13vw;
    left: 30vw;
}

.d0-e9{
    top: 40vw;
    left: 18vw;
}

.d0-e10{
    top: 50vw;
    left: 30vw;
}

.d0-e13{
    top: 35vw;
    left: 53vw;
}

.d0-e14{
    top: 32vw;
    left: 78vw;
}

.d0-e17{
    top: 55vw;
    left: 70vw;
}

.d0-e18{
    top: 52vw;
    left: 54vw;
}

/*================================================================*/

/*===========================ESCENA 1=============================*/
.d1-e3{
    top: 20vw;
    left: 15vw;
}

.d1-e8{
    top: 9vw;
    left: 75vw;
}

.d1-e10{
    top: 28vw;
    left: 47vw;
}

.d1-e19{
    top: 53vw;
    left: 15vw;
}

.d1-e20{
    top: 53vw;
    left: 77vw;
}
/*================================================================*/

/*===========================ESCENA 2=============================*/
.d2-e4{
    top: 6vw;
    left: 76vw;
}

.d2-e12{
    top: 32vw;
    left: 45vw;
}

.d2-e13{
    top: 72vw;
    left: 45vw;
}

.d2-e14{
    top: 70vw;
    left: 11vw;
}

.d2-e18{
    top: 9vw;
    left: 15vw;
}

/*================================================================*/

/*===========================ESCENA 3=============================*/
.d3-e1{
    top: 40vw;
    left: 45vw;
}

.d3-e2{
    top: 26vw;
    left: 46vw;
}

.d3-e5{
    top: 72vw;
    left: 75vw;
}

.d3-e15{
    top: 9vw;
    left: 15vw;
}

.d3-e17{
    top: 50vw;
    left: 15vw;
}

/*================================================================*/

/*===========================ESCENA 4=============================*/
.d4-e6{
    top: 50vw;
    left: 75vw;
}  

.d4-e7{
    top: 35vw;
    left: 57vw;
}  

.d4-e9{
    top: 47vw;
    left: 20vw;
}  

.d4-e11{
    top: 15vw;
    left: 64vw;
}  

.d4-e16{
    top: 9vw;
    left: 15vw;
}

/*================================================================*/

/*===========================ESCENA 5=============================*/
.d5-e2{
    top: 25vw;
    left: 45vw;
}  

.d5-e4{
    top: 3vw;
    left: 45vw;
}  

.d5-e6{
    top: 42vw;
    left: 35vw;
}  

.d5-e7{
    top: 25vw;
    left: 65vw;
}  

.d5-e8{
    top: 25vw;
    left: 17vw;
}

/*================================================================*/

/*===========================ESCENA 6=============================*/
.d6-e5{
    top: 35vw;
    left: 45vw;
}  

.d6-e12{
    top: 57vw;
    left: 50vw;
}  

.d6-e14{
    top: 42vw;
    left: 10vw;
}  

.d6-e15{
    top: 3vw;
    left: 37vw;
}  

.d6-e19{
    top: 35vw;
    left: 65vw;
}

/*================================================================*/

/*===========================ESCENA 7=============================*/
.d7-e13{
    top: 52vw;
    left: 22vw;
}  

.d7-e16{
    top: 60vw;
    left: 37vw;
}  

.d7-e17{
    top: 5vw;
    left: 77vw;
}  

.d7-e18{
    top: 4vw;
    left: 13vw;
}  

.d7-e20{
    top: 30vw;
    left: 45vw;
}

/*================================================================*/

/*===========================ESCENA 8=============================*/
.d8-e1{
    top: 85vw;
    left: 45vw;
}  

.d8-e3{
    top: 60vw;
    left: 45vw;
}  

.d8-e9{
    top: 14vw;
    left: 45vw;
}  

.d8-e10{
    top: 85vw;
    left: 62vw;
}  

.d8-e11{
    top: 40vw;
    left: 45vw;
}

/*================================================================*/

/*===========================ESCENA 9=============================*/
.d9-e6{
    top: 23vw;
    left: 62vw;
}  

.d9-e13{
    top: 38vw;
    left: 62vw;
}  

.d9-e16{
    top: 78vw;
    left: 62vw;
}  

.d9-e17{
    top: 69vw;
    left: 54vw;
}  

.d9-e20{
    top: 95vw;
    left: 13vw;
}

/*================================================================*/

/*===========================ESCENA 10=============================*/
.d10-e2{
    top: 33vw;
    left: 36vw;
}  

.d10-e4{
    top: 33vw;
    left: 57vw;
}  

.d10-e7{
    top: 15vw;
    left: 46vw;
}  

.d10-e11{
    top: 50vw;
    left: 46vw;
}  

.d10-e19{
    top: 3vw;
    left: 46vw;
}

/*================================================================*/

/*===========================ESCENA 11=============================*/
.d11-e1{
    top: 9vw;
    left: 58vw;
}  

.d11-e9{
    top: 15vw;
    left: 31vw;
}  

.d11-e12{
    top: 35vw;
    left: 60vw;
}  

.d11-e15{
    top: 20vw;
    left: 70vw;
}  

.d11-e18{
    top: 6vw;
    left: 35vw;
}

/*================================================================*/

/*===========================ESCENA 12=============================*/
.d12-e3{
    top: 25vw;
    left: 29vw;
}  

.d12-e5{
    top: 25vw;
    left: 62vw;
}  

.d12-e8{
    top: 25vw;
    left: 20vw;
}  

.d12-e10{
    top: 15vw;
    left: 55vw;
}  

.d12-e14{
    top: 34vw;
    left: 67vw;
}
/*================================================================*/

/*===========================ESCENA 13=============================*/
.d13-e4{
    top: 15vw;
    left: 52vw;
}  

.d13-e16{
    top: 66vw;
    left: 28vw;
}  

.d13-e17{
    top: 66vw;
    left: 63vw;
}  

.d13-e18{
    top: 48vw;
    left: 59vw;
}  

.d13-e20{
    top: 35vw;
    left: 35vw;
}

/*================================================================*/

/*===========================ESCENA 14=============================*/
.d14-e8{
    top: 20vw;
    left: 68vw;
}  

.d14-e12{
    top: 36vw;
    left: 22vw;
}  

.d14-e13{
    top: 9vw;
    left: 40vw;
}  

.d14-e15{
    top: 29vw;
    left: 45vw;
}  

.d14-e19{
    top: 7vw;
    left: 17vw;
}

/*================================================================*/

/*===========================ESCENA 15=============================*/
.d15-e1{
    top: 11vw;
    left: 45vw;
}  

.d15-e2{
    top: 40vw;
    left: 45vw;
}  

.d15-e3{
    top: 54vw;
    left: 21vw;
}  

.d15-e5{
    top: 54vw;
    left: 69vw;
}  

.d15-e6{
    top: 67vw;
    left: 45vw;
}

/*================================================================*/

/*===========================ESCENA 16=============================*/
.d16-e7{
    top: 30vw;
    left: 45vw;
}  

.d16-e9{
    top: 75vw;
    left: 45vw;
}  
.d16-e10{
    top: 20vw;
    left: 20vw;
}  

.d16-e11{
    top: 15vw;
    left: 45vw;
}  

.d16-e14{
    top: 47vw;
    left: 57vw;
}

/*================================================================*/

/*===========================ESCENA 17=============================*/
.d17-e3{
    top: 14vw;
    left: 43vw;
}  

.d17-e7{
    top: 47vw;
    left: 43vw;
}  

.d17-e11{
    top: 87vw;
    left: 43vw;
}  

.d17-e14{
    top: 61vw;
    left: 79vw;
}  

.d17-e15{
    top: 108vw;
    left: 35vw;
}

/*================================================================*/

/*===========================ESCENA 18=============================*/
.d18-e5{
    top: 60vw;
    left: 57vw;
}  

.d18-e6{
    top: 60vw;
    left: 30vw;
}  

.d18-e10{
    top: 65vw;
    left: 44vw;
}  

.d18-e12{
    top: 79vw;
    left: 52vw;
}  

.d18-e13{
    top: 79vw;
    left: 36vw;
}

/*================================================================*/

/*===========================ESCENA 19=============================*/
.d19-e2{
    top: 55vw;
    left: 32vw;
}  

.d19-e4{
    top: 55vw;
    left: 54vw;
}  

.d19-e8{
    top: 85vw;
    left: 32vw;
}  

.d19-e15{
    top: 85vw;
    left: 54vw;
}  

.d19-e20{
    top: 70vw;
    left: 43vw;
}

/*================================================================*/

/*===========================ESCENA 20=============================*/
.d20-e1{
    top: 14vw;
    left: 46vw;
}  

.d20-e3{
    top: 26vw;
    left: 30vw;
}  

.d20-e5{
    top: 26vw;
    left: 63vw;
}  

.d20-e7{
    top: 44vw;
    left: 29vw;
}  

.d20-e9{
    top: 44vw;
    left: 62vw;
}  

.d20-e10{
    top: 58vw;
    left: 46vw;
}  

.d20-e13{
    top: 67vw;
    left: 62vw;
}  

.d20-e14{
    top: 67vw;
    left: 28vw;
}  

.d20-e16{
    top: 76vw;
    left: 46vw;
}  

.d20-e17{
    top: 91vw;
    left: 46vw;
}

/*================================================================*/

/*======================ESTRELLAS FUGACES==========================*/

:root{
    --primary-color: rgb(47, 47, 189);
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 1vh;
    background: radial-gradient(ellipse at bottom, #212224 0%, #121425 100%);
    /* overflow: hidden; */
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 5.44em;
    --top-offset: 48.42vh;
    --fall-duration: 9.736s;
    --fall-delay: 8.714s;
  }
  .star:nth-child(2) {
    --star-tail-length: 5.28em;
    --top-offset: 34vh;
    --fall-duration: 8.694s;
    --fall-delay: 1.726s;
  }
  .star:nth-child(3) {
    --star-tail-length: 5.73em;
    --top-offset: 42.59vh;
    --fall-duration: 10.976s;
    --fall-delay: 6.75s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.9em;
    --top-offset: 22.62vh;
    --fall-duration: 11.631s;
    --fall-delay: 5.149s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.41em;
    --top-offset: 46.64vh;
    --fall-duration: 10.331s;
    --fall-delay: 3.859s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.04em;
    --top-offset: 11.87vh;
    --fall-duration: 8.345s;
    --fall-delay: 0.931s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.69em;
    --top-offset: 29.46vh;
    --fall-duration: 10.219s;
    --fall-delay: 1.374s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.24em;
    --top-offset: 82.4vh;
    --fall-duration: 9.147s;
    --fall-delay: 2.603s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.36em;
    --top-offset: 76.5vh;
    --fall-duration: 9.629s;
    --fall-delay: 7.678s;
  }
  .star:nth-child(10) {
    --star-tail-length: 5.05em;
    --top-offset: 3.52vh;
    --fall-duration: 10.197s;
    --fall-delay: 3.907s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.97em;
    --top-offset: 73.94vh;
    --fall-duration: 10.488s;
    --fall-delay: 1.792s;
  }
  .star:nth-child(12) {
    --star-tail-length: 7.32em;
    --top-offset: 56.07vh;
    --fall-duration: 8.129s;
    --fall-delay: 0.071s;
  }
  .star:nth-child(13) {
    --star-tail-length: 7.04em;
    --top-offset: 2.98vh;
    --fall-duration: 6.816s;
    --fall-delay: 0.345s;
  }
  .star:nth-child(14) {
    --star-tail-length: 6.33em;
    --top-offset: 18.78vh;
    --fall-duration: 7.578s;
    --fall-delay: 5.369s;
  }
  .star:nth-child(15) {
    --star-tail-length: 6.71em;
    --top-offset: 54.78vh;
    --fall-duration: 9.552s;
    --fall-delay: 4.163s;
  }
  .star:nth-child(16) {
    --star-tail-length: 6.61em;
    --top-offset: 76.15vh;
    --fall-duration: 11.175s;
    --fall-delay: 2.378s;
  }
  .star:nth-child(17) {
    --star-tail-length: 6.34em;
    --top-offset: 15.88vh;
    --fall-duration: 9.355s;
    --fall-delay: 4.984s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.91em;
    --top-offset: 32.46vh;
    --fall-duration: 6.306s;
    --fall-delay: 5.64s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.52em;
    --top-offset: 26.3vh;
    --fall-duration: 9.748s;
    --fall-delay: 3.049s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.84em;
    --top-offset: 61.6vh;
    --fall-duration: 10.212s;
    --fall-delay: 9.787s;
  }
  .star:nth-child(21) {
    --star-tail-length: 6.8em;
    --top-offset: 49.43vh;
    --fall-duration: 7.587s;
    --fall-delay: 4.718s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.08em;
    --top-offset: 12.61vh;
    --fall-duration: 11.988s;
    --fall-delay: 1.11s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.24em;
    --top-offset: 39.83vh;
    --fall-duration: 8.396s;
    --fall-delay: 3.794s;
  }
  .star:nth-child(24) {
    --star-tail-length: 5.14em;
    --top-offset: 85.9vh;
    --fall-duration: 11.775s;
    --fall-delay: 4.234s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.39em;
    --top-offset: 54.54vh;
    --fall-duration: 9.202s;
    --fall-delay: 2s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.4em;
    --top-offset: 63.62vh;
    --fall-duration: 6.074s;
    --fall-delay: 2.613s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.47em;
    --top-offset: 96.63vh;
    --fall-duration: 10.106s;
    --fall-delay: 1.003s;
  }
  .star:nth-child(28) {
    --star-tail-length: 5.91em;
    --top-offset: 70.79vh;
    --fall-duration: 8.433s;
    --fall-delay: 7.97s;
  }
  .star:nth-child(29) {
    --star-tail-length: 5.54em;
    --top-offset: 66.27vh;
    --fall-duration: 11.987s;
    --fall-delay: 7.235s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.35em;
    --top-offset: 52.02vh;
    --fall-duration: 6.793s;
    --fall-delay: 6.651s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.24em;
    --top-offset: 34.54vh;
    --fall-duration: 10.906s;
    --fall-delay: 4.825s;
  }
  .star:nth-child(32) {
    --star-tail-length: 6.66em;
    --top-offset: 1.47vh;
    --fall-duration: 6.685s;
    --fall-delay: 7.567s;
  }
  .star:nth-child(33) {
    --star-tail-length: 7.12em;
    --top-offset: 46.24vh;
    --fall-duration: 7.548s;
    --fall-delay: 3.211s;
  }
  .star:nth-child(34) {
    --star-tail-length: 6.9em;
    --top-offset: 78.02vh;
    --fall-duration: 11.692s;
    --fall-delay: 9.145s;
  }
  .star:nth-child(35) {
    --star-tail-length: 5.32em;
    --top-offset: 95.54vh;
    --fall-duration: 8.776s;
    --fall-delay: 6.049s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.94em;
    --top-offset: 54.49vh;
    --fall-duration: 8.1s;
    --fall-delay: 6.024s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.94em;
    --top-offset: 93.53vh;
    --fall-duration: 9.885s;
    --fall-delay: 1.08s;
  }
  .star:nth-child(38) {
    --star-tail-length: 7.43em;
    --top-offset: 10.86vh;
    --fall-duration: 6.574s;
    --fall-delay: 1.794s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.22em;
    --top-offset: 27.77vh;
    --fall-duration: 8.321s;
    --fall-delay: 0.05s;
  }
  .star:nth-child(40) {
    --star-tail-length: 7.34em;
    --top-offset: 6.68vh;
    --fall-duration: 11.097s;
    --fall-delay: 6.771s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.71em;
    --top-offset: 25.42vh;
    --fall-duration: 8.615s;
    --fall-delay: 6.1s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.14em;
    --top-offset: 75.31vh;
    --fall-duration: 6.949s;
    --fall-delay: 0.19s;
  }
  .star:nth-child(43) {
    --star-tail-length: 5.75em;
    --top-offset: 49.55vh;
    --fall-duration: 10.641s;
    --fall-delay: 3.001s;
  }
  .star:nth-child(44) {
    --star-tail-length: 6.47em;
    --top-offset: 23.89vh;
    --fall-duration: 10.237s;
    --fall-delay: 0.984s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.35em;
    --top-offset: 27.17vh;
    --fall-duration: 7.681s;
    --fall-delay: 5.007s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.25em;
    --top-offset: 77.24vh;
    --fall-duration: 8.248s;
    --fall-delay: 3.789s;
  }
  .star:nth-child(47) {
    --star-tail-length: 6.76em;
    --top-offset: 32.73vh;
    --fall-duration: 6.994s;
    --fall-delay: 0.349s;
  }
  .star:nth-child(48) {
    --star-tail-length: 7.16em;
    --top-offset: 12.01vh;
    --fall-duration: 6.712s;
    --fall-delay: 3.623s;
  }
  .star:nth-child(49) {
    --star-tail-length: 6.11em;
    --top-offset: 67.29vh;
    --fall-duration: 11.581s;
    --fall-delay: 5.523s;
  }
  .star:nth-child(50) {
    --star-tail-length: 5.88em;
    --top-offset: 86.01vh;
    --fall-duration: 9.889s;
    --fall-delay: 5.542s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }